body{
    background: white !important;
}

.header{
    background: rgb(52, 134, 211);
    height: x;
    top: 0;
    padding: 0;
    margin: 0 0;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    
}

.fundo{
    background: rgb(52, 134, 211)

}

.main{
    margin-top: 30px;
}
.logo{
    width: 80px;
    margin-left: 0px;
    text-align: center;
}

.logo > h2{
    font-size: 100%;
    text-align: center;
}
.nav{
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    color: black;

}

.nav-item{
    border: 1px solid rgb(52, 134, 211) !important;
    background-color: rgba(245, 245, 245, 0.918);
    border-radius: 50px;
    margin: 5px;
    width: 200px;

}

.nav-item .nav-link{
    text-align: center;
}

.tradutor{
    height: 80px;
    width: 0px;
    right: 0px;
}

.but_login{
    margin-top: 25px ;
    margin-bottom: 10px;
}

.btn{
    display: flex;
    justify-content: center;
}


.btn-info{
    background-color:
}

.conteudo{
    margin-top: 20px;
}

.informacoes{
    background-color: rgb(214, 214, 214);
    min-height: 600px !important;
}

.grupo_lista{
    list-style: none;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;


}

.artigo{
    border: 1px rgb(194, 193, 193) solid;
}

.topicos_lista{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo_do_artigo:first-child{
    padding-top: 60px;
}

.titulo_do_artigo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.background{
    background-color: rgb(194, 193, 193);
    padding: 40px 200px;
}

.butao_artigo{
    margin: 0 auto;
    margin-top: 10px;

}

.footer{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.texto_footer{
    margin-top: 25px;
}


.rodape{
    background: rgb(52, 134, 211);;
    height: 60px;
}

.logo_footer{
    width: 50px;
    padding: 5px;
    margin-top: 8px;
}

@media screen and (max-width: 767px){
    .logo{
        text-align: center;
    }
    .acesso{
        margin-top: 0px;
    }
    .but_login{
        margin-top: 0px;
    }
    .tradutor{
        text-align: center;

    }
    .background{
        padding: 0;
        background-color: none;
    }
    .titulo_do_artigo{
        display: flex;
        justify-content: center;
        padding-top: 130px;
    }


}


