body{
    background: white !important;
}

.header{
    background: rgb(240, 238, 238);
    height: x;
    top: 0;
    padding: 0;
    margin: 0 0;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-radius: 10px;


}
.logo{
    width: 80px;
    margin-left: 0px;
    text-align: center;
}

.logo > h2{
    font-size: 100%;
    text-align: center;
}
.nav{
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    color: black;

}

.nav-item{
    border: 1px solid black;
    border-radius: 50px;
    margin: 5px;
    width: 200px;

}

.nav-item .nav-link{
    text-align: center;
}

.tradutor{
    height: 80px;
    width: 0px;
    right: 0px;
}

.but_login{
    margin-top: 40px ;
    margin-bottom: 10px;
}

.btn{
    display: flex;
    justify-content: center;
}

.barra_pesquisa{
    margin-top: 20px;
    width: 40%  !important;
    height: 10% !important;
}

.btn-info{
    background-color:
}

.conteudo{
    margin-top: 20px;
}

.informacoes{
    background-color: rgb(214, 214, 214);
    min-height: 600px !important;
}

.artigo{
    border: 1px rgb(194, 193, 193) solid;
}

.topicos_lista{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.artigo_imagem{
    width: 200px;
    height: 200px;
    align-content: center;
}

.butao_artigo{
    margin: 0 auto;
    margin-top: 10px;

}

.footer{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.texto_footer{
    margin-top: 25px;
}

.rodape{
    background: rgb(224, 218, 218);
    height: 70px;
}

@media screen and (max-width: 767px){
    .logo{
        text-align: center;
    }
    .tradutor{
        text-align: center;
        margin-top: 10px;
        height: 50px;
    }
    .acesso{
        margin-top: 0px;
    }
    .but_login{
        margin-top: 0px;
    }

}


